input{
    display: none;
}
label[for='red'] {
    color: red;
    text-decoration: underline;
}
label[for='green'] {
    color: green;
    text-decoration: underline;
}
label[for='blue'] {
    color: blue;
    text-decoration: underline;
}
.red{
    background: red;
}

.green{
    background: green;
}
.blue{
    background: blue;
}
span
{
    border-radius: 5px 5px 5px 5px;
    padding: 0 5px;
    color: white;
}

#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue
{
    display: none;
}

#red:checked ~ label[for='red'],
#green:checked ~ label[for='green'],
#blue:checked ~ label[for='blue'] {
    opacity: 0.5;
}