.search-engine{
    width: 50%;
    display: flex;
    margin: 0 auto;
    background: #ffcc66;
    height: 54px;
    position: relative;
    flex-wrap: wrap;
}
.search-engine:after{
    content: "";
    position: absolute;
    right: -11px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    border-left: 12px solid #ffcc66;

}

.search-query{
    flex: 1;
    height: 23px;
    border: solid 1px #f3f3f3;
    margin: 5px 5px 0 5px;
}
.find{
    font-size: 16px;
    height: 27px;
    width: 67px;
    background: #d8d8d8;
    border: solid 1px #987f4c;
    border-radius: 1px;
    margin-top: 5px;
}
.flag{
    display: block;
}
.flag-text{
    display: block;
    font-family: "Arial", sans-serif;
    text-transform: lowercase;
    font-size: 13px;
}