

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  font-family: "texgyreherosregular", "Arial", sans-serif;
}

/************************************   HEADER  ***********************************************************************/
.main-header {
  height: 160px;
  background: #3498db;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo{
    margin: 17px auto 3px auto;
    width: 53px;
    height: 53px;
    background: url("../img/header/sprites.png") no-repeat 0 0;
  }
  .company-name {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-bottom: solid 2px #2980b9;
    padding-bottom: 4px;
    margin: 0;

  }


  .social-networks p{
    display: inline-block;
    font-size: 13px;
    color: #fff;
  }
  .facebook, .google, .twitter {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }

  .facebook {
    background: url("../img/header/sprites.png") no-repeat -77px -2px;
  }

  .google {
    background: url("../img/header/sprites.png") no-repeat -150px -1px;
  }

  .twitter {
    background: url("../img/header/sprites.png") no-repeat -249px 0;
  }
}

.banner {
  width: 100%;
  height: 350px;
  background: url("../img/banner/big_banner.png") no-repeat;

  h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 2px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    margin: 0 40px;
  }
}

.form {
  position: absolute;
  top: 30px;
  right: 10px;
  width: calc(100% - 20px);
  height: 537px;
  border-bottom: 5px solid #3498db;
  background: #fff;

  h2 {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 23px;
  }

  .login-form {
    overflow: hidden;

    input[type="text"] {
      display: block;
      width: calc(100% - 40px);
      height: 34px;
      background: #f2f2f2;
      font-size: 15px;
      border: 1px solid #e6e6e6;
      margin-left: 20px;
      margin-bottom: 9px;
      padding-left: 15px;

    }

    textarea {
      display: block;
      width: calc(100% - 40px);
      height: 75px;
      font-family: "texgyreherosregular", "Arial", sans-serif;
      font-size: 15px;
      background: #f2f2f2;
      border: 1px solid #e6e6e6;
      margin-left: 20px;
      margin-bottom: 9px;
      padding-left: 15px;
    }

    textarea::-moz-placeholder {
      color: #333;
    }

    input::-webkit-input-placeholder {
      color: #333;
    }

    input:-moz-placeholder {
      color: #333;
    }

    textarea::-webkit-input-placeholder {
      color: #333;
    }

    input[type="submit"] {
      display: block;
      width: 200px;
      height: 50px;
      font-size: 20px;
      color: #fff;
      background: #e74c3c;
      border: none;
      margin: 44px auto;
    }

    .style-select {
      border: 1px solid #e6e6e6;
      overflow: hidden;
      height: 33px;
      background: #f2f2f2 url("../img/feed-back/arrow-select.png") no-repeat 95% 50%;
      width: calc(100% - 40px);
      margin-left: 20px;
      margin-bottom: 9px;

      select {
        border-radius: 0;
        background: transparent;
        height: 34px;
        border: 0;
        font-size: 16px;
        -webkit-appearance: none;
        padding-left: 10px;
        width: 100%;
      }
    }
  }
}

.about {
  height: 680px;
  background: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;

  h2 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    margin-top: 410px;
    margin-right: 9px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
    color: #333;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.good-point {
  border-bottom: 1px solid #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    color: #3498db;
  }
  .point-column {
    margin-bottom: 30px;

    .point-img {
      display: block;
      margin: 10px auto;
    }

    .title {
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
      text-align: center;
    }

     p {
      font-size: 13px;
      line-height: 20px;
      color: #333;
      text-align: center;
      margin: 15px 25px 22px 25px;
    }

    .point-view {
      height: 50px;
      width: 50px;
      border: 1px solid #ededed;
      border-radius: 50%;
      margin: 23px auto 0 auto;

      .point-view-link {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        color: #333;
        text-decoration: none;
        margin-left: 8px;
        margin-top: 16px;
      }
    }
  }
}

.feedback {
  height: 745px;
  position: relative;

  .feedback-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;

    h1 {
      color: #3498db;
      font-size: 20px;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      margin: 34px 20px 15px 15px;
    }

    .arrow {
      display: inline-block;
      height: 37px;
      width: 37px;
      border: 1px solid #ededed;
      border-radius: 50%;

      .next {
        background: url("../img/feed-back/sprites.png") no-repeat 0 -51px;
        width: 11px;
        height: 17px;
        color: transparent;
        display: block;
        margin-left: 15px;
        margin-top: 10px;
      }

      .prev {
        background: url("../img/feed-back/sprites.png") no-repeat 0 -1px;
        width: 11px;
        height: 17px;
        color: transparent;
        display: block;
        margin-left: 14px;
        margin-top: 10px;
      }
    }
    .arrow:hover > .next {
      background: url("../img/feed-back/sprites.png") no-repeat -50px 0;
      width: 11px;
      height: 17px;
    }

    .arrow:hover > .prev {
      background: url("../img/feed-back/sprites.png") no-repeat -51px -50px;;
      width: 11px;
      height: 17px;
    }

    .arrow:hover {
      background: #f2f2f2;
    }
  }

  .annotation {
    font-size: 13px;
    line-height: 20px;
    color: #333;
    text-align: justify;
    margin: 0 40px 0 20px;
  }

  .author {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-align: right;
    margin-right: 20px;
  }

  .annotation::before {
    content: open-quote;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f2f2f2;
    display: block;
  }

  .author::after {
    content: close-quote;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f2f2f2;
    display: block;
    margin-top: -10px;
  }

  .get-started {
    position: relative;
    width: 300px;
    height: 130px;
    background: #e74c3c;
    margin: 163px auto 50px auto;
    z-index: 1;

    p {
      font-weight: 100;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin-left: 50px;
      margin-right: 40px;
      padding-top: 12px;
    }

    .go {
      display: block;
      width: 27px;
      height: 27px;
      border: 2px solid white;
      border-radius: 50%;
      background: url("../img/feed-back/go.png") no-repeat 10px 5px;
      margin: -7px 0 0 140px;
    }
  }

}

.feedback::after {
  content: "";
  background-image: url("../img/feed-back/background.png");
  position: absolute;
  bottom: 0;
  left: calc(50% - 112.5px);
  width: 225px;
  height: 364px;

}

footer {
  height: 315px;
  background: #85c1e9;
  display: flex;
  flex-direction: column;
  align-items: center;

  .company-name {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-bottom: solid 2px #2980b9;
    padding-bottom: 4px;
    margin: 0;

  }

  .logo-footer {
    margin: 32px auto 10px auto;
    width: 53px;
    height: 53px;
    background: url("../img/header/sprites.png") no-repeat 0 0;
  }

  .footer-column-right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-social-networks {
    p {
      display: inline-block;
      font-size: 13px;
      color: #fff;
    }

    .facebook, .google, .twitter {
      display: inline-block;
      width: 22px;
      height: 22px;
      vertical-align: middle;
    }

    .facebook {
      background: url("../img/header/sprites.png") no-repeat -77px -2px;
    }

    .google {
      background: url("../img/header/sprites.png") no-repeat -150px -1px;
    }

    .twitter {
      background: url("../img/header/sprites.png") no-repeat -249px 0;
    }


  }
  .copyright {
    margin: 10px 40px 68px 40px;

    p {
      text-align: center;
      font-size: 13px;
      color: #fff;
      line-height: 19px;
    }

  }
}

@media (min-width: 801px) {
  .main-header {
    height: 80px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .brand{
      display: flex;
      align-items: center;

      .logo {
        margin-top: 0;
        margin-right: 10px;
      }

      .company-name {
        border-bottom: none;
        margin-left: 0;
        text-align: left;
      }
    }

  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 20px;

    p {
      text-align: left;
      margin-left: 0;
      padding-right: calc(100% - 340px - 40px);
    }
  }


  .form {
    right: 20px;
    width: 340px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 250px;
    padding: 0 20px 0 20px;

    h2 {
      margin: 26px 0 24px 0;
    }

    p {
      text-align: left;
      margin: 0 0 25px 0;
      padding-right: calc(100% - 340px - 30px);
    }
  }

  .good-point {
    align-items: flex-start;
    padding: 0 20px 0 20px;

    .point-column {
      display: flex;


      .description-benefits {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 22px;

        p {
          text-align: left;
          margin-left: 0;
          margin-right: 0;
        }

        .point-view {
          margin: 0;
        }
      }
    }
  }




  .feedback {
    height: 448px;
    padding: 0 20px 0 20px;

    .comment {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .feedback-title {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        h1 {
          margin-left: 0;
        }
      }

      .comment-text {
        padding-right: 225px;

        .annotation {
          margin-left: 0;
        }

        .author {
          align-self: flex-end;
        }
      }
    }

    .get-started {
      display: flex;
      justify-content: space-between;
      width: 470px;
      height: 60px;
      margin: 10px 0 0 0;

      p {
        text-align: left;
        margin: 0 0 0 50px;
      }

      .go {
        margin: auto 35px auto 0;

      }
    }
  }

  .feedback::after {
    left: calc(100% - 225px - 20px);
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #3498db;
    height: 194px;
    padding: 0 20px 0 20px;

    .brand {
      border-right: 1px solid #2980b9;
      display: flex;

      .logo-footer {
        margin: 0 10px 0 0;
        padding-right: 52px;
      }

      .company-name {
        text-align: left;
        border-bottom: none;
        flex-basis: 67%;
      }
    }

    .footer-column-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 22px;

      .footer-social-networks {
        margin-top: -15px;
      }

      .copyright {
        margin: 0;

        p {
          text-align: left;
          margin: -10px 0 0 0;

        }
      }
    }
  }
}
@media (min-width: 1001px) {
  $content-width: 990px;
  $padding: calc((100% - #{$content-width}) / 2);

  .main-header{
    padding-left: $padding;
    padding-right: $padding;
  }
  .hero {
    position: relative;
    .banner {
      padding-left: $padding;
      padding-right: $padding;

      p {
        padding-right: calc(100% - 360px - 75px);
      }
    }

    .form {
      width: 360px;
      right: $padding;
    }
    .about {
      padding-left: $padding;
      padding-right: $padding;
      p {
        padding-right: calc(100% - 360px - 55px);
      }
    }
  }

  .good-point{
    padding-left: $padding;
    padding-right: $padding;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .point-column{
      flex-direction: column;
      flex-basis: calc((100% - 120px)/3);
      align-items: center;
      margin-right: 60px;

      .point-img{
        margin-left: 0;
      }

      .description-benefits {
        align-items: center;
        padding-left: 0;

        p {
          text-align: center;
        }
      }
    }

    .point-column:last-child{
      margin-right: 0;
    }

    h1{
      flex-basis: 100%;
    }
  }

  .feedback{
    padding-left: $padding;
    padding-right: $padding;
  }
  .feedback::after {
    left: calc(100% - 225px - 28px - ((100% - 990px)/2));
  }
  footer{
    padding-left: $padding;
    padding-right: $padding;
  }

}
