h1 {
    font-family: Lato, sans-serif;
    font-size: 41px;
    color: #2d3950;
    text-align: center;
    margin: 21.6px 0 16px 0;
}

h2 {
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #909090;
    text-align: center;
    margin-bottom: 65px;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
}

.img {
    width: 360px;
    height: 260px;
    margin: 15px;
    position: relative;
}

.preview {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 260px;
    opacity: 0.85;
}

.zoom, .link {
    display: inline-block;
    margin-right: 10px;
    margin-top: 110px;

}

.zoom {
    margin-left: 133px
}

.img:hover .preview {
    display: block;
    background: #3aadf5;
}
#id1{
    display: none;
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
}
   